<h1>About Zach & The Fire Panel</h1>

<div class="bio">
    <img src="/assets/about/zach.jpg" />
    <section>
        <h2>Zach - Content Creator</h2>
        <p>Zach is a trained technician who formerly worked in the Fire Alarm industry doing primarily inspections and service. He is still involved with alarm systems and has a large collection of devices.</p>
        <p>Full time - Zach works in IT and Cybersecurity, and maintains an EMT-Basic license. In 2020, he spent a period of time in the Fire Academy.</p>
        <a href="mailto:zach@thefirepanel.com">zach&#64;thefirepanel.com</a>
    </section>
</div>

<h2>The Fire Panel</h2>
<p>Originally founded under the name of its creator in 2015, The Fire Panel has been producing content related to fire and life safety equipment. Formerly known as Fire Alarm Tech, the channel has established itself as a go-to resource for professionals and enthusiasts alike, offering insightful videos on fire alarm systems and associated technologies.</p>

<p>With a dedicated community of over 8k subscribers, 2k forums members, and 400 Discord members, The Fire Panel continues to grow and evolve, providing valuable content ranging from product reviews and tutorials to demonstrations and discussions. Whether you're looking to enhance your knowledge, stay updated on industry trends, or simply satisfy your curiosity, The Fire Panel is your one-stop destination for all things fire safety.</p>

<p>Beyond the YouTube channel, The Fire Panel is a well-known name for community forums related to life safety, which continue to operate and grow today. The Fire Panel Wiki has recently been setup to enable the community to contribute to an ever-growing amount of knowledge related to fire and life safety equipment, proceses, and more.</p>