<h1>History of The Fire Panel</h1>
<img src="/assets/history/schumin_web_logo.png" alt="Schumin Web Logo" />
<p>The Fire Panel originally began as "The Schumin Web Community" in 2002, run by its founder Ben Schumin. It was one of the first online discussion boards that discussed fire alarms and many related topics. By late 2006, the board had grown in excess of 560 members.</p>

<img src="/assets/history/2012_logo.png" alt="Original TFP Logo" />
<p>In 2012, Andrew Davis, also known as NewAgeServer, took ownership of The Schumin Web and rebranded it as "The Fire Panel Forums." This board continued to grow over the next eight years until the domain was up for renewal.</p>
<p>When thefirepanel.com became available in April of 2020, content creator Zachary Fleck purchased the domain and began the transition to our current forum.</p>

<img src="/assets/primary_logo.png" alt="TFP Logo" />
<p>In January of 2021, The Fire Panel was transferred to and modernized by a group of community members who aimed to interconnect the community through The Fire Panel in more ways than just the forums:</p>

<ul>
    <li>The YouTube Channel "Fire Alarm Tech", owned by Zach, was rebranded to The Fire Panel.</li>
    <li>The Forums were migrated from phpBB to Discourse for modernization and security improvements</li>
    <li>The Discord Server "Fire Alarms Technicians and Collectors" (what a mouthful!) was rebranded to The Fire Panel along with moderator change</li>
    <li>And as of January 2024, worked to replace our original wiki with MediaWiki to provide a more collaborative, community driven wiki to keep knowledge and information up to date and available.</li>
</ul>