name: Angular Test
on:
  push:
    branches-ignore:
      - "main"
    paths-ignore:
      - "README.md"
      - "Dockerfile"
      - ".dockerignore"
      - ".gitignore"
  workflow_call:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Configure NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Setup Node Modules and Angular
        run: |
          npm i && \
          npm install -g @angular/cli@21
      - name: Lint Application
        run: ng lint
      - name: Run Angular Tests
        run: ng test --browsers ChromeHeadless --watch false
