name: Test and Publish on Main
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  test:
    uses: ./.github/workflows/test.yaml
  
  publish:
    needs: test
    uses: ./.github/workflows/publish.yaml
